.nav {
  flex-grow: 1;
  gap: 30px;
  display: flex;
  align-items: center;
}

.navLink {
  font-size: 18px;
  font-weight: 500;
  color: var(--mantine-color-black);

  &Active {
    color: var(--mantine-primary-color-4);
  }
}
