.phoneCard {
  position: relative;
  width: 350px;
}

.phoneImage {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  height: auto;
  z-index: 0;
}

.phoneContent {
  position: relative;
  z-index: 1;
  padding: 50px 40px 40px 40px;
}
