.wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.select {
  position: absolute;
  width: 150px;
  visibility: hidden;
  pointer-events: none;
}

.toggleBtn {
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
