NEXT_PUBLIC_HOST=http://match-your-master.local
NEXT_PUBLIC_PORT=3000
NEXT_PUBLIC_API_HOST=http://api.match-your-master.local
AUTH_SECRET="b272Nv2EMA6pSdsc7op3L58HrWlquusB8N8aE44XfYc="

HOSTNAME=0.0.0.0
PORT=3000
