NEXT_PUBLIC_HOST=http://match-your-master.local
NEXT_PUBLIC_API_HOST=http://api.match-your-master.local:8080
NEXT_PUBLIC_PORT=3000
NEXT_PUBLIC_GITHUB_HOST=https://github.com
AUTH_GITHUB_ID=Iv23liLrvrQpFO4xFOF4
AUTH_GITHUB_SECRET=c418c572c3204d3aedd89508805bdbd8f02da601
AUTH_SECRET="b272Nv2EMA6pSdsc7op3L58HrWlquusB8N8aE44XfYc="

HOSTNAME=0.0.0.0
PORT=3000
