NEXT_PUBLIC_API_HOST=http://api.match-your-master.local:8080
NEXT_PUBLIC_GITHUB_HOST=https://github.com
NEXT_PUBLIC_GITHUB_CLIENT_ID=Iv23liLrvrQpFO4xFOF4
GITHUB_CLIENT_SECRET=c418c572c3204d3aedd89508805bdbd8f02da601
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=edFpuWmGTl+HkL2ZUrk+n2sKcC3HlV32yLjHwV+mgZk=

# docker
HOSTNAME=0.0.0.0
PORT=3000
