.userInfo {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.userInfoTitle {
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
}

.userInfoList {
  padding-left: 1rem;
  list-style: disc;
}

.userInfoItem {
  font-size: 16px;
}
